$primary-color: #f93943;
$secondary-color: #445e93;
$tertiary-color: #fcecc9;
$quarternary-color: #7eb2dd;

$sans-fonts: "Comic Sans MS", cursive, sans-serif;
$font-base-size: 16px;
$standard-radius: 7px;
